Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:format, ./run js:lint, ./run elixir:eex:format, ./run elixir:eex:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{ex,exs}":
  - ./run elixir:format
  - ./run elixir:lint

"*.{css,less,sass,scss}":
  - ./run css:format
  - ./run prettier:format
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run prettier:format
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:format
  - ./run prettier:format
  - ./run js:lint
  - ./run prettier:lint

"*.html.{eex,leex}":
  - ./run elixir:eex:format
  - ./run elixir:eex:lint

"{run,.husky/*,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:format
  - ./run prettier:lint

# CHANGELOG.md text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
"!(CHANGELOG).md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore: Add more files to labeler (#181)
  .github/labeler.yml
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Ignore `hexpm/elixir` for `dependabot`
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Ignore `hexpm/elixir` for `dependabot` (#182)
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(license): Enforce commit title to follow `commitlint` rules
  .github/labeler.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(license): Enforce commit title to follow `commitlint` rules (#183)
  .github/labeler.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump eslint-plugin-promise from 5.1.1 to 5.2.0
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Bump eslint-plugin-promise from 5.1.1 to 5.2.0 (#185)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Do not update `hexpm/elixir` for `docker` ecosystem
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Do not update `hexpm/elixir` for `docker` ecosystem (#186)
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Lint staged files and test project in parallel in `pre-commit`
  .check.exs
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Lint staged files and test project in parallel in `pre-commit` (#187)
  .check.exs
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  run
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Check files instead of whole project while running `lint-staged`
  .check-ci.exs
  .check.exs
  .lintstagedrc.yml
  scripts/run/elixir.sh
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Check given files instead of whole project while running `lint-staged`
  .check-ci.exs
  .check.exs
  .lintstagedrc.yml
  scripts/run/elixir.sh
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(vscode): Use correct comment character in `elixir` for Comment Divider
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Use correct comment character in `elixir` for Comment Divider (#189)
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Use step outputs instead of environment variables
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Use step outputs instead of environment variables (#190)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add new rules from `credo` 1.6.0
  .credo.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint

chore(lint): Add new rules from `credo` 1.6.0 (#191)
  .credo.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint

chore: Exclude more directories in `.*ignore`, `credo` and `htmlhint`
  .credo.exs
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  .prettierignore-eex
  .stylelintignore
  .vscode/settings.json
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Exclude more directories in `.*ignore`, `credo` and `htmlhint` (#192)
  .credo.exs
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  .prettierignore-eex
  .stylelintignore
  .vscode/settings.json
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Set same version as in `VERSION` file
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint

chore: Set same version as in `VERSION` file (#193)
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint

chore: Rename `priv/plts` to `dialyzer/plts`
  .credo.exs
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  .prettierignore-eex
  .stylelintignore
  .vscode/settings.json
  cspell.yml
  docs/setup.md
  mix.exs
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore: Rename `priv/plts` to `dialyzer/plts` (#194)
  .credo.exs
  .eslintignore
  .github/workflows/ci.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  .prettierignore-eex
  .stylelintignore
  .vscode/settings.json
  cspell.yml
  docs/setup.md
  mix.exs
  scripts/run/html.sh
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

ci(security): Get security fix from `tmpl`
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci(security): Get security fix from `tmpl` (#195)
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Update `action-update-license-year` to v2.1.1
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Update `action-update-license-year` to v2.1.1 (#197)
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

build(npm): Remove `engine-strict` for Dependabot
  .npmrc
Due: ./run spellcheck:lint

build(npm): Remove `engine-strict` for Dependabot (#198)
  .npmrc
Due: ./run spellcheck:lint

chore(deps-dev): Bump npm from 8.1.4 to 8.3.0
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.1.4 to 8.3.0 (#199)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps-dev): Overrides packages to fix security warnings
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Overrides packages to fix security warnings (#200)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update dependencies
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update dependencies (#201)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(mix): Add `test.recent`
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint

chore(mix): Add `test.recent` (#202)
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint

chore(vscode): Group specific editor settings together
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint
