Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:lint, ./run elixir:eex:lint, ./run shell:lint, ./run dockerfile:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{ex,exs}":
  - ./run elixir:credo
  - ./run elixir:format:lint

# HACK: "fake1" is a workaround to run different Elixir checks in parallel
# https://github.com/okonet/lint-staged/issues/934#issuecomment-743299357
"*.{ex,exs,fake1}":
  - ./run elixir:lint:light

"*.{css,less,sass,scss}":
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:lint
  - ./run prettier:lint

"*.html.{eex,leex}":
  - ./run elixir:eex:lint

"{run,.husky/*,*.sh}":
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:lint

# CHANGELOG.md text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
"!(CHANGELOG).md":
  - ./run prettier:lint
  - ./run markdown:lint

chore(lint): Replace deprecated `:moduledoc_required` with `:min_overall_moduledoc_coverage`
  .doctor.exs
  spellcheck/dictionaries/elixir-custom.txt
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(lint): Replace deprecated `:moduledoc_required` with `:min_overall_moduledoc_coverage` (#688)
  .doctor.exs
  spellcheck/dictionaries/elixir-custom.txt
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(deps): Upgrade node from 16 to 18
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps): Upgrade node from 16 to 18 (#690)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Remove unnecessary `overrides`
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Remove unnecessary `overrides` (#695)
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps): Set node engine from 16 to 18
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps): Set node engine from 16 to 18 (#696)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Audit hex packages
  .github/workflows/audit-hex.yml
  .github/workflows/audit-npm.yml
  mix.exs
  mix.lock
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint

ci: Audit hex packages (#702)
  .github/workflows/audit-hex.yml
  .github/workflows/audit-npm.yml
  mix.exs
  mix.lock
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint

chore(deps): Update Elixir from 1.13.2 to 1.14.3 and Erlang from 24.2 to 25.2.1
  .github/workflows/audit-hex.yml
  Dockerfile
Due: ./run spellcheck:lint, ./run prettier:lint, ./run dockerfile:lint

chore(mix): Remove `:race_conditions` from dialyzer
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(deps): Update Elixir from 1.13.2 to 1.14.3 and Erlang from 24.2 to 25.2.1 (#703)
  .github/workflows/audit-hex.yml
  Dockerfile
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint, ./run dockerfile:lint

chore(docker): Install locales as recommended in README from ubuntu image
  Dockerfile
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(docker): Install locales as recommended in README from ubuntu image (#705)
  Dockerfile
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(lint): Do not lint and format `eex` and `leex` anymore
  .check.exs
  .check_format.exs
  .lintstagedrc.yml
  .prettierignore
  .prettierignore-eex
  .vscode/settings.json
  .vscode/tasks.json
  docs/setup.md
  mix.exs
  package-lock.json
  package.json
  scripts/run/elixir.sh
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint, ./run shell:lint

chore(lint): Do not lint and format `eex` and `leex` anymore (#718)
  .check.exs
  .check_format.exs
  .lintstagedrc.yml
  .prettierignore
  .prettierignore-eex
  .vscode/settings.json
  .vscode/tasks.json
  docs/setup.md
  mix.exs
  package-lock.json
  package.json
  scripts/run/elixir.sh
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint, ./run shell:lint

chore(lint): Lint with credo and format Elixir templates
  .github/workflows/ci.yml
  .lintstagedrc.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Lint with credo and format Elixir templates (#719)
  .github/workflows/ci.yml
  .lintstagedrc.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Move prettier cache to project root
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  cspell.yml
  scripts/run/prettier.sh
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

chore(lint): Move prettier cache to project root (#720)
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .vscode/settings.json
  cspell.yml
  scripts/run/prettier.sh
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

chore(npm): Add correct npm engine version
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(npm): Add correct npm engine version (#771)
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps): Remove unused dependencies
  mix.lock
Due: ./run spellcheck:lint

chore(deps): Remove unused dependencies (#811)
  mix.lock
Due: ./run spellcheck:lint

chore(deps-dev): Update `ca-certificates`
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Update `ca-certificates` (#839)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Update deps from `mix.lock`
  mix.lock
Due: ./run spellcheck:lint

chore(deps-dev): Update deps from `mix.lock` (#840)
  mix.lock
Due: ./run spellcheck:lint

chore(readme): Add acknowledgements (#772)
  README.md
  cspell.yml
  spellcheck/dictionaries/repo-names.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(readme): Add acknowledgements (#772) (#841)
  README.md
  cspell.yml
  spellcheck/dictionaries/repo-names.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(scripts): Adjust indentation of help messages
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/elixir.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Adjust indentation of help messages (#842)
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/elixir.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Improve help messages
  scripts/run/javascript.sh
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Improve help messages (#845)
  scripts/run/javascript.sh
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(deps-dev): Update all peer dependencies
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Update all peer dependencies (#857)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Update stylelint from 14 to 15
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Update stylelint from 14 to 15 (#858)
  .stylelintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Fix prettier TypeError
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:lint
