Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run css:format, ./run prettier:format, ./run css:lint, ./run prettier:lint, ./run elixir:eex:format, ./run elixir:eex:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{ex,exs}":
  - ./run elixir:format
  - ./run elixir:lint

"*.{css,less,sass,scss}":
  - ./run css:format
  - ./run prettier:format
  - ./run css:lint
  - ./run prettier:lint

"*.html.{eex,leex}":
  - ./run elixir:eex:format
  - ./run elixir:eex:lint

"{run,.husky/*,*.sh}":
  - ./run shell:format
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:format
  - ./run dockerfile:lint

"*.{json,yaml,yml}":
  - ./run prettier:format
  - ./run prettier:lint

"*.md":
  - ./run prettier:format
  - ./run prettier:lint
  - ./run markdown:lint

chore(deps-dev): Bump npm from 7.24.0 to 8.1.0
  Dockerfile
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Bump npm from 7.24.0 to 8.1.0 (#151)
  Dockerfile
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(vscode): Exclude `cover/` and `.fetch/`
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Exclude `cover/` and `.fetch/` (#152)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Execute all in parallel for `elixir:lint`
  scripts/run/elixir.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(lint): Execute all in parallel for `elixir:lint` (#163)
  scripts/run/elixir.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

build: Release and update `CHANGELOG.md` with `release-it` from workflow
  .check.exs
  .commitlintrc.yml
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .github/workflows/create-release.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .markdownlintignore
  .prettierignore
  .release-it.js
  .vscode/settings.json
  CHANGELOG.md
  RELEASE.md
  VERSION
  cspell.yml
  docs/code-convention.md
  package-lock.json
  package.json
  run
  scripts/release-it/hooks/changelog/add_header.sh
  scripts/release-it/hooks/changelog/delete_header.sh
  scripts/release-it/hooks/changelog/header-template.md
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.js
  scripts/release-it/templates/header.hbs
  scripts/release-it/tests/plugins/calver-bumper.test.js
  scripts/release-it/types.js
  scripts/run/release.sh
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

build: Release and update `CHANGELOG.md` with `release-it` from workflow (#164)
  .check.exs
  .commitlintrc.yml
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .github/workflows/create-release.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  .markdownlintignore
  .prettierignore
  .release-it.js
  .vscode/settings.json
  CHANGELOG.md
  RELEASE.md
  VERSION
  cspell.yml
  docs/code-convention.md
  package-lock.json
  package.json
  run
  scripts/release-it/hooks/changelog/add_header.sh
  scripts/release-it/hooks/changelog/delete_header.sh
  scripts/release-it/hooks/changelog/header-template.md
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.js
  scripts/release-it/templates/header.hbs
  scripts/release-it/tests/plugins/calver-bumper.test.js
  scripts/release-it/types.js
  scripts/run/release.sh
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run markdown:lint

chore(scripts): Use `snake_case` for `*.sh`
  run
  scripts/run/docker_file.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(scripts): Use `snake_case` for `*.sh` (#165)
  run
  scripts/run/docker_file.sh
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

ci: Trigger `CI` workflow after Dependabot's PR is merged
  .github/workflows/auto-merge.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

ci: Trigger `CI` workflow after Dependabot's PR is merged (#166)
  .github/workflows/auto-merge.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

docs(readme): Add procedure about `PAT_PR_AUTO_MERGE`
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

docs(readme): Add procedure about `PAT_PR_AUTO_MERGE` (#167)
  README.md
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(docker): Add `ci` as new build stage
  .github/workflows/ci.yml
  .husky/pre-commit
  .vscode/settings.json
  .vscode/tasks.json
  Dockerfile
  docker-compose.ci.yml
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

chore(docker): Add `ci` as new build stage (#168)
  .github/workflows/ci.yml
  .husky/pre-commit
  .vscode/settings.json
  .vscode/tasks.json
  Dockerfile
  docker-compose.ci.yml
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run markdown:lint

chore(deps-dev): Update dependencies
  cspell.yml
  package-lock.json
  package.json
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps-dev): Update dependencies (#169)
  cspell.yml
  package-lock.json
  package.json
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(docker): Use name of current repository as image name
  docker-compose.ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(docker): Use name of current repository as image name (#170)
  docker-compose.ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add `eslint` new rules
  .eslintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Add `eslint` new rules (#171)
  .eslintrc.yml
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Bump npm from 8.1.0 to 8.1.4
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Bump npm from 8.1.0 to 8.1.4 (#172)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

ci: Cache `dialyzer` PLTs separately
  .check.exs
  .github/workflows/ci.yml
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint

chore: Relax `dialyzer` glob
  .gitignore
Due: ./run spellcheck:lint

ci: Cache `dialyzer` PLTs separately (#173)
  .check.exs
  .github/workflows/ci.yml
  .gitignore
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:format, ./run elixir:lint, ./run prettier:format, ./run prettier:lint

chore(deps): Bump elixir from 1.12.2 to 1.12.3 and erlang from 24.0.5 to 24.1.7
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Bump elixir from 1.12.2 to 1.12.3 and erlang from 24.0.5 to 24.1.7 (#174)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:format, ./run dockerfile:lint

chore: Spellcheck commit messages
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Spellcheck commit messages (#176)
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Remove deprecated `--no-install`
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore: Remove deprecated `--no-install` (#177)
  .husky/commit-msg
Due: ./run spellcheck:lint, ./run shell:format, ./run shell:lint

chore(lint): Use cache for `cspell`
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  cspell.yml
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

chore(lint): Use cache for `cspell` (#178)
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  cspell.yml
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint, ./run shell:format, ./run shell:lint

style: Remove unnecessary `"` and sort values in list in `*.yml`
  .github/dependabot.yml
  .github/pr-labeler.yml
  .github/workflows/auto-merge.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  cspell.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

style: Remove unnecessary `"` and sort values in list in `*.yml` (#179)
  .github/dependabot.yml
  .github/pr-labeler.yml
  .github/workflows/auto-merge.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  cspell.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Use variable instead of raw value
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Use variable instead of raw value (#180)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint

chore: Add more files to labeler
  .github/labeler.yml
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:format, ./run prettier:lint
