Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:lint, ./run elixir:eex:lint, ./run shell:lint, ./run dockerfile:lint

chore(release): Use ESM syntax for `calver-bumper.js`
  .editorconfig
  .eslintrc.yml
  .release-it.cjs
  package-lock.json
  package.json
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/tests/plugins/calver-bumper.test.js
  scripts/release-it/types.cjs
  spellcheck/dictionaries/filenames.txt
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore: Use comment blocks for documentation
  scripts/release-it/tests/plugins/calver-bumper.test.js
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore: Use comment blocks for documentation (#398)
  scripts/release-it/tests/plugins/calver-bumper.test.js
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore: Use object when exporting
  .release-it.cjs
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/types.cjs
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore: Use object when exporting (#399)
  .release-it.cjs
  scripts/release-it/plugins/calver-bumper.js
  scripts/release-it/plugins/conventional-changelog/commit-groups-sort.cjs
  scripts/release-it/types.cjs
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore(lint): Remove `eslint` specific rules which were not applied
  .eslintrc.yml
  scripts/release-it/plugins/calver-bumper.js
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore(lint): Remove `eslint` specific rules which were not applied (#400)
  .eslintrc.yml
  scripts/release-it/plugins/calver-bumper.js
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore(readme): Mention documentation
  README.md
Due: ./run spellcheck:lint

chore(readme): Mention documentation (#401)
  README.md
Due: ./run spellcheck:lint

chore(deps-dev): Install compatible version of `stylelint-a11y` for `stylelint` 14.0.0
  package-lock.json
  package.json
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Install compatible version of `stylelint-a11y` for `stylelint` 14.0.0 (#402)
  package-lock.json
  package.json
  spellcheck/dictionaries/repo-owners.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Bump `minimist` to patch vulnerability
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Bump `minimist` to patch vulnerability (#403)
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Remove `stylelint-use-nesting`
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Remove `stylelint-use-nesting` (#404)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Rebuild `package-lock.json`
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Rebuild `package-lock.json` (#405)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Bump npm from 8.5.4 to 8.9.0
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.5.4 to 8.9.0 (#406)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(scripts): Source other files from `run` location
  run
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Source other files from `run` location (#498)
  run
Due: ./run spellcheck:lint, ./run shell:lint

chore: Add `.gitattributes` and tighten eol
  .editorconfig
  .gitattributes
Due: ./run spellcheck:lint

chore: Add `.gitattributes` and tighten eol (#499)
  .editorconfig
  .gitattributes
Due: ./run spellcheck:lint

chore(vscode): Fix `APP_DIR` when repository cloned into container volume
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Fix `APP_DIR` when repository cloned into container volume (#500)
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:lint

ci(scripts): Check commit lint also in parallel
  .check_ci.exs
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint

ci(scripts): Check commit lint also in parallel (#501)
  .check_ci.exs
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint

chore(scripts): Allow using `-h` and `--help` in child commands
  run
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Allow using `-h` and `--help` in child commands (#502)
  run
Due: ./run spellcheck:lint, ./run shell:lint

chore(vscode): Remove `experimental` in setting ids
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Remove `experimental` in setting ids (#503)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(git): Install dependencies after git pull
  .husky/commit-msg
  .husky/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:lint

chore(git): Install dependencies after git pull (#504)
  .husky/commit-msg
  .husky/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:lint

chore(git): Do not allow commit on `main` branch
  .husky/pre-commit
Due: ./run spellcheck:lint, ./run shell:lint

chore(git): Do not allow commit on `main` branch (#505)
  .husky/pre-commit
Due: ./run spellcheck:lint, ./run shell:lint

chore(vscode): Setup dev environment when devcontainer is ready
  .devcontainer/devcontainer.json
  .devcontainer/setup-dev-env.sh
  README.md
  run
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

chore(vscode): Setup dev environment when devcontainer is ready (#506)
  .devcontainer/devcontainer.json
  .devcontainer/setup-dev-env.sh
  README.md
  run
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

chore(deps-dev): Remove overrides from commitizen
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(git): Fix permissions in husky git hooks
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:lint

chore(deps-dev): Remove overrides from commitizen (#507)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

Path conditions:
  ./run spellcheck:lint: any of: *
  ./run elixir:credo: any of: *.{ex,exs}
  ./run elixir:format:lint: any of: *.{ex,exs}
  ./run elixir:lint:light: any of: *.{ex,exs,fake1}
  ./run css:lint: any of: *.{css,less,sass,scss}
  ./run prettier:lint: (((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})
  ./run html:lint: any of: *.{htm,html}
  ./run js:lint: any of: *.js
  ./run elixir:eex:lint: any of: *.html.{eex,leex}
  ./run shell:lint: any of: {run,.husky/*,*.sh}
  ./run dockerfile:lint: any of: Dockerfile*
