Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run elixir:format, ./run elixir:lint, ./run elixir:eex:format, ./run elixir:eex:lint, ./run shell:format, ./run shell:lint, ./run dockerfile:format, ./run dockerfile:lint, ./run prettier:format, ./run prettier:lint, ./run markdown:lint

chore(deps): Bump npm from 7.21.0 to 7.24.0
  Dockerfile
Due: ./run dockerfile:format, ./run dockerfile:lint

chore(deps): Bump npm from 7.21.0 to 7.24.0 (#115)
  Dockerfile
Due: ./run dockerfile:format, ./run dockerfile:lint

chore(vscode): Extract `cspell` settings from `.vscode`
  .vscode/settings.json
  cspell.yml
  spelling/dictionaries/elixir.txt
  spelling/dictionaries/workspace.txt
Due: ./run prettier:format, ./run prettier:lint

chore(vscode): Extract `cspell` settings from `.vscode` (#116)
  .vscode/settings.json
  cspell.yml
  spelling/dictionaries/elixir.txt
  spelling/dictionaries/workspace.txt
Due: ./run prettier:format, ./run prettier:lint

ci: Do not lint commit messages from Dependabot
  .github/workflows/ci.yml
Due: ./run prettier:format, ./run prettier:lint

ci: Do not lint commit messages from Dependabot (#121)
  .github/workflows/ci.yml
Due: ./run prettier:format, ./run prettier:lint

ci(lint): Skip git commit lint when Dependabot is author
  run
  spelling/dictionaries/workspace.txt
Due: ./run shell:format, ./run shell:lint

ci(lint): Skip git commit lint when Dependabot is author (#122)
  run
  spelling/dictionaries/workspace.txt
Due: ./run shell:format, ./run shell:lint

build(npm): Spellcheck with `cspell` before git commit
  .check.exs
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  cspell.yml
  package-lock.json
  package.json
  run
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/abbreviations.txt
  spellcheck/dictionaries/bash-custom.txt
  spellcheck/dictionaries/binaries.txt
  spellcheck/dictionaries/docker.txt
  spellcheck/dictionaries/elixir-for-workspace.txt
  spellcheck/dictionaries/filenames.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/vscode-extensions.txt
  spellcheck/dictionaries/workspace.txt
  spelling/dictionaries/workspace.txt
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

build(npm): Spellcheck with `cspell` before git commit (#133)
  .check.exs
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  cspell.yml
  package-lock.json
  package.json
  run
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/abbreviations.txt
  spellcheck/dictionaries/bash-custom.txt
  spellcheck/dictionaries/binaries.txt
  spellcheck/dictionaries/docker.txt
  spellcheck/dictionaries/elixir-for-workspace.txt
  spellcheck/dictionaries/filenames.txt
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
  spellcheck/dictionaries/vscode-extensions.txt
  spellcheck/dictionaries/workspace.txt
  spelling/dictionaries/workspace.txt
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore: Fix indent in help message
  scripts/run/markdown.sh
  scripts/run/prettier.sh
Due: ./run shell:format, ./run shell:lint

chore: Fix indent in help message (#134)
  scripts/run/markdown.sh
  scripts/run/prettier.sh
Due: ./run shell:format, ./run shell:lint

chore(scripts): Replace function to lint git commit from all except dependabot
  .github/workflows/ci.yml
  run
  scripts/run/git.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(scripts): Replace function to lint git commit from all except dependabot (#135)
  .github/workflows/ci.yml
  run
  scripts/run/git.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Handle dictionaries for `lint-staged` correctly
  scripts/run/spellcheck.sh
Due: ./run shell:format, ./run shell:lint

chore(lint): Handle dictionaries for `lint-staged` correctly (#136)
  scripts/run/spellcheck.sh
Due: ./run shell:format, ./run shell:lint

chore: Improve globs for `husky` hooks
  .editorconfig
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
Due: ./run prettier:format, ./run prettier:lint

chore: Improve globs for `husky` hooks (#137)
  .editorconfig
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Rename `.czrc` to `.cz.json` and remove uncessary file mappings
  .cz.json
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
  cspell.yml
  spellcheck/dictionaries/filenames.txt
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Rename `.czrc` to `.cz.json` and remove uncessary file mappings (#138)
  .cz.json
  .github/labeler.yml
  .lintstagedrc.yml
  .vscode/settings.json
  cspell.yml
  spellcheck/dictionaries/filenames.txt
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Remove duplicated lint on dictionaries
  .lintstagedrc.yml
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Remove duplicated lint on dictionaries (#139)
  .lintstagedrc.yml
Due: ./run prettier:format, ./run prettier:lint

chore(vscode): Rename `Spelling` to `Spellcheck`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run prettier:format, ./run prettier:lint

chore(vscode): Rename `Spelling` to `Spellcheck` (#140)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run prettier:format, ./run prettier:lint

build(lint): Add `stylelint` command with its config to lint CSS
  .browserslistrc
  .check.exs
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitignore
  .stylelintignore
  .stylelintrc.yml
  .vscode/extensions.json
  package-lock.json
  package.json
  run
  scripts/run/css.sh
  scripts/run/elixir.sh
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

build(lint): Add `stylelint` command with its config to lint CSS (#141)
  .browserslistrc
  .check.exs
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .gitignore
  .stylelintignore
  .stylelintrc.yml
  .vscode/extensions.json
  package-lock.json
  package.json
  run
  scripts/run/css.sh
  scripts/run/elixir.sh
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Lint staged CSS files
  .lintstagedrc.yml
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Lint staged CSS files (#142)
  .lintstagedrc.yml
Due: ./run prettier:format, ./run prettier:lint

build(lint): Add `htmlhint` to lint `htm` and `html`
  .check.exs
  .devcontainer/devcontainer.json
  .github/labeler.yml
  .htmlhintrc
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/tasks.json
  package-lock.json
  package.json
  run
  scripts/run/html.sh
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

build(lint): Add `htmlhint` to lint `htm` and `html` (#143)
  .check.exs
  .devcontainer/devcontainer.json
  .github/labeler.yml
  .htmlhintrc
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/tasks.json
  package-lock.json
  package.json
  run
  scripts/run/html.sh
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(lint): Exclude `cover/` from spellcheck
  cspell.yml
Due: ./run prettier:format, ./run prettier:lint

chore(lint): Exclude `cover/` from spellcheck (#146)
  cspell.yml
Due: ./run prettier:format, ./run prettier:lint

build(lint): Add `eslint` commands with its config to lint Javascript
  .check.exs
  .commitlintrc.js
  .commitlintrc.yml
  .devcontainer/devcontainer.json
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  package-lock.json
  package.json
  run
  scripts/run/javascript.sh
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

build(lint): Add `eslint` commands with its config to lint Javascript (#147)
  .check.exs
  .commitlintrc.js
  .commitlintrc.yml
  .devcontainer/devcontainer.json
  .editorconfig
  .eslintignore
  .eslintrc.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .gitignore
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
  package-lock.json
  package.json
  run
  scripts/run/javascript.sh
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

build(mix): Run format commands concurrently
  .check-format.exs
  .commitlintrc.yml
  mix.exs
  run
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

build(mix): Run format commands concurrently (#148)
  .check-format.exs
  .commitlintrc.yml
  mix.exs
  run
Due: ./run elixir:format, ./run elixir:lint, ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore: Replace `hyphen` with `em dash` for comments
  .github/labeler.yml
  .github/workflows/ci.yml
  .vscode/settings.json
  .vscode/tasks.json
  run
  scripts/run/elixir.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore: Replace `hyphen` with `em dash` for comments (#149)
  .github/labeler.yml
  .github/workflows/ci.yml
  .vscode/settings.json
  .vscode/tasks.json
  run
  scripts/run/elixir.sh
Due: ./run shell:format, ./run shell:lint, ./run prettier:format, ./run prettier:lint

chore(vscode): Add `Comment Anchors`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run prettier:format, ./run prettier:lint

chore(vscode): Add `Comment Anchors` (#150)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run prettier:format, ./run prettier:lint

Path conditions:
  ./run elixir:format: any of: *.{ex,exs}
  ./run elixir:lint: any of: *.{ex,exs}
  ./run elixir:eex:format: any of: *.html.{eex,leex}
  ./run elixir:eex:lint: any of: *.html.{eex,leex}
  ./run shell:format: any of: {run,commit-msg,pre-commit,*.sh}
  ./run shell:lint: any of: {run,commit-msg,pre-commit,*.sh}
  ./run dockerfile:format: any of: Dockerfile*
  ./run dockerfile:lint: any of: Dockerfile*
  ./run prettier:format: (any of: {*.json,*.yaml,*.yml,.czrc}) or (any of: *.md)
  ./run prettier:lint: (any of: {*.json,*.yaml,*.yml,.czrc}) or (any of: *.md)
  ./run markdown:lint: any of: *.md
