Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:lint, ./run elixir:eex:lint, ./run shell:lint, ./run dockerfile:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{ex,exs}":
  - ./run elixir:credo
  - ./run elixir:format:lint

# HACK: "fake1" is a workaround to run different Elixir checks in parallel
# https://github.com/okonet/lint-staged/issues/934#issuecomment-743299357
"*.{ex,exs,fake1}":
  - ./run elixir:lint:light

"*.{css,less,sass,scss}":
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:lint
  - ./run prettier:lint

"*.html.{eex,leex}":
  - ./run elixir:eex:lint

"{run,.husky/*,*.sh}":
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:lint

# CHANGELOG.md text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
"!(CHANGELOG).md":
  - ./run prettier:lint
  - ./run markdown:lint

chore(git): Fix permissions in husky git hooks (#508)
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:lint

chore(docker): Follow default npm version from node image
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(docker): Follow default npm version from node image (#509)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(git): Install dependencies also for Elixir when git pull
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:lint

chore(git): Install dependencies also for Elixir when git pull (#510)
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
Due: ./run spellcheck:lint, ./run shell:lint

chore(vscode): Add new extension for hex.pm
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Add new extension for hex.pm (#511)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(git): Lint husky git hooks
  scripts/run/shell.sh
Due: ./run spellcheck:lint, ./run shell:lint

ci: Install `husky` scripts on CI
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(git): Lint husky git hooks (#512)
  .github/workflows/ci.yml
  scripts/run/shell.sh
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

chore(scripts): Reorder script names
  .check.exs
  .check_ci.exs
  .check_format.exs
  .devcontainer/setup-dev-env.sh
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  cspell.yml
  docs/code-convention.md
  docs/setup.md
  mix.exs
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/elixir.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/elixir-custom.txt
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint, ./run shell:lint

chore(scripts): Reorder script names (#530)
  .check.exs
  .check_ci.exs
  .check_format.exs
  .devcontainer/setup-dev-env.sh
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.yml
  .vscode/tasks.json
  cspell.yml
  docs/code-convention.md
  docs/setup.md
  mix.exs
  run
  scripts/run/css.sh
  scripts/run/docker_file.sh
  scripts/run/elixir.sh
  scripts/run/git.sh
  scripts/run/html.sh
  scripts/run/javascript.sh
  scripts/run/markdown.sh
  scripts/run/prettier.sh
  scripts/run/release.sh
  scripts/run/shell.sh
  scripts/run/spellcheck.sh
  spellcheck/dictionaries/elixir-custom.txt
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint, ./run shell:lint

chore(scripts): Rename tasks
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Rename tasks (#531)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

ci: Rename step id
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Rename step id (#532)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore: Upgrade Ubuntu from focal to jammy
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
  Dockerfile
Due: ./run spellcheck:lint, ./run prettier:lint, ./run dockerfile:lint

chore: Upgrade Ubuntu from focal to jammy (#535)
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
  Dockerfile
Due: ./run spellcheck:lint, ./run prettier:lint, ./run dockerfile:lint

chore(scripts): Fix fake URL
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Fix fake URL (#549)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Avoid nested functions
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Avoid nested functions (#653)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(deps): Format
  mix.lock
Due: ./run spellcheck:lint

chore(deps): Format (#654)
  mix.lock
Due: ./run spellcheck:lint

chore(vscode): Use new way to setup default extensions
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Use new way to setup default extensions (#655)
  .devcontainer/devcontainer.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Migrate htmlhint extension to `HTMLHint.vscode-htmlhint`
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Migrate htmlhint extension to `HTMLHint.vscode-htmlhint` (#656)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Migrate Comment Anchors setting
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Migrate Comment Anchors setting (#657)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:lint

docs(license): Update copyright year to 2023
  LICENSE
Due: ./run spellcheck:lint

docs(license): Update copyright year to 2023 (#663)
  LICENSE
Due: ./run spellcheck:lint

chore(lint): Apply max line height also for comments
  scripts/release-it/hooks/changelog/header-template.md
Due: ./run spellcheck:lint

chore(lint): Apply max line height also for comments (#684)
  scripts/release-it/hooks/changelog/header-template.md
Due: ./run spellcheck:lint

chore(docker): Pin dev packages
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(docker): Pin dev packages (#685)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Get last version of caniuse-lite
  package-lock.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Get last version of caniuse-lite (#686)
  package-lock.json
  spellcheck/dictionaries/npm-packages.txt
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Replace deprecated `set-output`
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Replace deprecated `set-output` (#687)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint
