Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run lint:spellcheck, ./run lint:elixir:credo, ./run lint:elixir:format, ./run lint:elixir:light, ./run lint:css, ./run lint:prettier, ./run lint:html, ./run lint:js, ./run lint:shell, ./run lint:dockerfile

.lintstagedrc.yml:

"*":
  - ./run lint:spellcheck

"*.{ex,exs}":
  - ./run lint:elixir:credo
  - ./run lint:elixir:format

# HACK: "fake1" is a workaround to run different Elixir checks in parallel
# https://github.com/okonet/lint-staged/issues/934#issuecomment-743299357
"*.{ex,exs,fake1}":
  - ./run lint:elixir:light

"*.{css,less,sass,scss}":
  - ./run lint:css
  - ./run lint:prettier

"*.{htm,html}":
  - ./run lint:html
  - ./run lint:prettier

"*.js":
  - ./run lint:js
  - ./run lint:prettier

"{run,.husky/*,*.sh}":
  - ./run lint:shell

"Dockerfile*":
  - ./run lint:dockerfile

"*.{json,yaml,yml,htmlhintrc}":
  - ./run lint:prettier

# CHANGELOG.md text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
"!(CHANGELOG).md":
  - ./run lint:prettier
  - ./run lint:markdown

chore(vscode): Fix prettier TypeError (#859)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(lint): Apply stricter rules in stylelint
  .stylelintrc.yml
  .vscode/settings.json
  package-lock.json
  package.json
  spellcheck/dictionaries/workspace.txt
Due: ./run lint:spellcheck, ./run lint:prettier

chore(lint): Apply stricter rules in stylelint (#860)
  .stylelintrc.yml
  .vscode/settings.json
  package-lock.json
  package.json
  spellcheck/dictionaries/workspace.txt
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Use correct formatter for `*.css` and `*.scss`
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Use correct formatter for `*.css` and `*.scss` (#861)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(lint): Remove any mentions of `less`
  .devcontainer/devcontainer.json
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/tasks.json
  scripts/run/css.sh
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:shell

chore(lint): Remove any mentions of `less` (#862)
  .devcontainer/devcontainer.json
  .lintstagedrc.yml
  .vscode/extensions.json
  .vscode/tasks.json
  scripts/run/css.sh
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:shell

chore(vscode): Stricter file exclusions
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Stricter file exclusions (#863)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Move `settings` to recommended location
  .devcontainer/devcontainer.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Move `settings` to recommended location (#864)
  .devcontainer/devcontainer.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Exclude `dialyzer/plts` from Comment Anchors scan
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Exclude `dialyzer/plts` from Comment Anchors scan (#865)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): More exclusion for lints and ascending order for values
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): More exclusion for lints and ascending order for values (#866)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(scripts): Move helper scripts and use right path in shebang
  .husky/helpers/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  .husky/pre-commit
Due: ./run lint:spellcheck, ./run lint:shell

chore(scripts): Lint helper scripts
  scripts/run/shell.sh
Due: ./run lint:spellcheck, ./run lint:shell

chore(scripts): Move helper scripts and use right path in shebang (#877)
  .husky/helpers/common.sh
  .husky/post-checkout
  .husky/post-merge
  .husky/post-rewrite
  .husky/pre-commit
  scripts/run/shell.sh
Due: ./run lint:spellcheck, ./run lint:shell

chore(vscode): Setup devcontainer at container creation
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:shell

chore(vscode): Setup devcontainer at container creation (#878)
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:shell

chore(vscode): Use recommended option by official documentation
  .devcontainer/devcontainer.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Use recommended option by official documentation (#879)
  .devcontainer/devcontainer.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix semver vulnerability
  package-lock.json
  package.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix semver vulnerability (#880)
  package-lock.json
  package.json
Due: ./run lint:spellcheck, ./run lint:prettier

ci(release): Bump node from 16 to 18
  .github/workflows/release.yml
Due: ./run lint:spellcheck, ./run lint:prettier

ci(release): Bump node from 16 to 18 (#882)
  .github/workflows/release.yml
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix word-wrap vulnerability
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix word-wrap vulnerability
  package-lock.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Fix word-wrap vulnerability (#885)
  package-lock.json
  package.json
  spellcheck/dictionaries/npm-packages.txt
  spellcheck/dictionaries/repo-owners.txt
Due: ./run lint:spellcheck, ./run lint:prettier

chore(scripts): Format code
  scripts/release-it/tests/plugins/calver-bumper.test.js
Due: ./run lint:spellcheck, ./run lint:prettier, ./run lint:js

chore(vscode): Fix prettier load module error
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(vscode): Fix prettier load module error (#896)
  .vscode/settings.json
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps-dev): Clean unused dependencies
  mix.lock
Due: ./run lint:spellcheck

chore(deps-dev): Clean unused dependencies (#927)
  mix.lock
Due: ./run lint:spellcheck

ci: Downgrade actions/labeler
  .github/dependabot.yml
  .github/workflows/label.yml
Due: ./run lint:spellcheck, ./run lint:prettier

ci: Downgrade actions/labeler (#1045)
  .github/dependabot.yml
  .github/workflows/label.yml
Due: ./run lint:spellcheck, ./run lint:prettier

docs(license): Update copyright year to 2024
  LICENSE
Due: ./run lint:spellcheck

docs(license): Update copyright year to 2024 (#1059)
  LICENSE
Due: ./run lint:spellcheck

chore(deps): Bump elixir dependencies
  mix.lock
Due: ./run lint:spellcheck

chore(deps): Bump elixir dependencies (#1221)
  mix.lock
Due: ./run lint:spellcheck
