Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:lint, ./run elixir:eex:lint, ./run shell:lint, ./run dockerfile:lint

chore(vscode): Group specific editor settings together (#203)
  .vscode/settings.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Let `csstree/validator` check also `scss` and `sass` files
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Let `csstree/validator` check also `scss` and `sass` files (#204)
  .stylelintrc.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Downgrade `prettier2.2` to 2.2.1
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Downgrade `prettier2.2` to 2.2.1 (#205)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Do not break html closing tag while formatting
  .prettierrc.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Keep default whitespace logic for `*.hbs`
  .prettierrc.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Do not break html closing tag while formatting (#206)
  .prettierrc.yml
Due: ./run spellcheck:lint, ./run prettier:lint

docs(license): Update copyright year to 2022
  LICENSE
Due: ./run spellcheck:lint

ci(license): Add conventional commit to PR title
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci(license): Add conventional commit to PR title (#216)
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Rename `PAT_PR_AUTO_MERGE` to `PAT_GITHUB`
  .github/workflows/auto-merge.yml
  .github/workflows/update-license-year.yml
  README.md
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Rename `PAT_PR_AUTO_MERGE` to `PAT_GITHUB` (#217)
  .github/workflows/auto-merge.yml
  .github/workflows/update-license-year.yml
  README.md
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Update dependencies and override updates for security
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Update dependencies and override updates for security (#237)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Bump npm from 8.3.0 to 8.3.1
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.3.0 to 8.3.1 (#238)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Update dependencies
  mix.exs
  mix.lock
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(deps-dev): Update dependencies (#239)
  mix.exs
  mix.lock
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore: Increase version also in `package.json`
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore: Increase version also in `package.json` (#242)
  .github/dependabot.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps): Bump Elixir from 1.12.3 to 1.13.2 and Erlang from 24.1.7 to 24.2
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps): Bump Elixir from 1.12.3 to 1.13.2 and Erlang from 24.1.7 to 24.2 (#246)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore: Bump Elixir minimum version from 1.12 to 1.13
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore: Bump Elixir minimum version from 1.12 to 1.13 (#247)
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

ci: Upload code coverage only for PRs from real users
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Upload code coverage only for PRs from real users (#248)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: No code coverage check on `main` branch
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Remove unreachable condition on `pull_request`
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Remove unreachable condition on `pull_request` (#250)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Add more recommended extensions
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Add more recommended extensions (#256)
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:lint

build(docker): Replace comments with print messages
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

build(docker): Replace comments with print messages (#261)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

build(docker): Move env variables as runtime env variables
  Dockerfile
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.yml
Due: ./run spellcheck:lint, ./run prettier:lint, ./run dockerfile:lint

build(docker): Use boolean for `INSIDE_DOCKER`
  docker-compose.yml
  run
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

docs(docker): Add documentation about environments variables
  docs/docker.md
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint

chore(scripts): Use `==` instead of `=`
  run
Due: ./run spellcheck:lint, ./run shell:lint

build(docker): Move env variables as runtime env variables (#262)
  Dockerfile
  docker-compose.ci.yml
  docker-compose.dev.yml
  docker-compose.yml
  docs/docker.md
  run
  spellcheck/dictionaries/workspace.txt
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint, ./run dockerfile:lint

chore(scripts): Be able to `git rebase` without error
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

Path conditions:
  ./run spellcheck:lint: any of: *
  ./run elixir:credo: any of: *.{ex,exs}
  ./run elixir:format:lint: any of: *.{ex,exs}
  ./run elixir:lint:light: any of: *.{ex,exs,fake1}
  ./run css:lint: any of: *.{css,less,sass,scss}
  ./run prettier:lint: (((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})
  ./run html:lint: any of: *.{htm,html}
  ./run js:lint: any of: *.js
  ./run elixir:eex:lint: any of: *.html.{eex,leex}
  ./run shell:lint: any of: {run,.husky/*,*.sh}
  ./run dockerfile:lint: any of: Dockerfile*
