Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run lint:spellcheck, ./run lint:elixir:credo, ./run lint:elixir:format, ./run lint:elixir:light, ./run lint:css, ./run lint:prettier, ./run lint:html, ./run lint:js, ./run lint:shell, ./run lint:dockerfile

chore(deps): Bump elixir and erlang
  Dockerfile
  mix.exs
Due: ./run lint:spellcheck, ./run lint:elixir:credo, ./run lint:elixir:format, ./run lint:elixir:light, ./run lint:dockerfile

chore(deps): Bump elixir and erlang
  .github/workflows/audit-hex.yml
Due: ./run lint:spellcheck, ./run lint:prettier

chore(deps): Bump elixir and erlang (#1222)
  .github/workflows/audit-hex.yml
  Dockerfile
  mix.exs
Due: ./run lint:spellcheck, ./run lint:elixir:credo, ./run lint:elixir:format, ./run lint:elixir:light, ./run lint:prettier, ./run lint:dockerfile

docs(license): Update copyright year to 2025
  LICENSE
Due: ./run lint:spellcheck

docs(license): Update copyright year to 2025 (#1291)
  LICENSE
Due: ./run lint:spellcheck

ci: Bump runner version
  .github/workflows/audit-hex.yml
  .github/workflows/audit-npm.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run lint:spellcheck, ./run lint:prettier

ci: Bump runner version (#1367)
  .github/workflows/audit-hex.yml
  .github/workflows/audit-npm.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run lint:spellcheck, ./run lint:prettier

Path conditions:
  ./run lint:spellcheck: any of: *
  ./run lint:elixir:credo: any of: *.{ex,exs}
  ./run lint:elixir:format: any of: *.{ex,exs}
  ./run lint:elixir:light: any of: *.{ex,exs,fake1}
  ./run lint:css: any of: *.{css,less,sass,scss}
  ./run lint:prettier: (((any of: *.{css,less,sass,scss}) or (any of: *.{htm,html})) or (any of: *.js)) or (any of: *.{json,yaml,yml,htmlhintrc})
  ./run lint:html: any of: *.{htm,html}
  ./run lint:js: any of: *.js
  ./run lint:shell: any of: {run,.husky/*,*.sh}
  ./run lint:dockerfile: any of: Dockerfile*
