Repository aifrak/template-elixir: changes, and which lint-staged commands are due for each by the changed paths.
All: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run css:lint, ./run prettier:lint, ./run html:lint, ./run js:lint, ./run elixir:eex:lint, ./run shell:lint, ./run dockerfile:lint

.lintstagedrc.yml:

"*":
  - ./run spellcheck:lint

"*.{ex,exs}":
  - ./run elixir:credo
  - ./run elixir:format:lint

# HACK: "fake1" is a workaround to run different Elixir checks in parallel
# https://github.com/okonet/lint-staged/issues/934#issuecomment-743299357
"*.{ex,exs,fake1}":
  - ./run elixir:lint:light

"*.{css,less,sass,scss}":
  - ./run css:lint
  - ./run prettier:lint

"*.{htm,html}":
  - ./run html:lint
  - ./run prettier:lint

"*.js":
  - ./run js:lint
  - ./run prettier:lint

"*.html.{eex,leex}":
  - ./run elixir:eex:lint

"{run,.husky/*,*.sh}":
  - ./run shell:lint

"Dockerfile*":
  - ./run dockerfile:lint

"*.{json,yaml,yml,htmlhintrc}":
  - ./run prettier:lint

# CHANGELOG.md text is generated automatically.
# Also, as the file grows, it will take longer to lint and format.
"!(CHANGELOG).md":
  - ./run prettier:lint
  - ./run markdown:lint

chore(scripts): Be able to `git rebase` without error (#264)
  scripts/run/release.sh
Due: ./run spellcheck:lint, ./run shell:lint

chore(vscode): Add more recommended and devcontainer extensions
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Add more recommended and devcontainer extensions (#275)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  spellcheck/dictionaries/vscode-extensions.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Bump npm from 8.3.1 to 8.4.1
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.3.1 to 8.4.1 (#276)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(npm): Remove `overrides` for `markdownlint`
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(npm): Remove `overrides` for `markdownlint` (#279)
  package-lock.json
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(npm): Update nested dependencies
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(npm): Update nested dependencies (#280)
  package-lock.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore: Replace `utf-8` to `utf8`
  .release-it.js
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

chore: Replace `utf-8` to `utf8` (#298)
  .release-it.js
Due: ./run spellcheck:lint, ./run prettier:lint, ./run js:lint

ci: Do not lint when Dependabot is co-author
  .github/workflows/ci.yml
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

ci: Do not lint when Dependabot is co-author (#299)
  .github/workflows/ci.yml
  scripts/run/git.sh
  spellcheck/dictionaries/bash-custom.txt
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

chore(scripts): Simplify conditions
  run
Due: ./run spellcheck:lint, ./run shell:lint

chore(scripts): Simplify conditions (#300)
  run
Due: ./run spellcheck:lint, ./run shell:lint

chore(vscode): Add tasks for git, markdown and prettier
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Add tasks for git, markdown and prettier (#301)
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(lint): Reorganize `credo` rules
  .credo.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(deps-dev): Set same credo version as `mix.lock`
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(lint): Reorganize `credo` rules (#302)
  .credo.exs
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(mix): Rename aliases
  .github/workflows/ci.yml
  mix.exs
  run
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint, ./run shell:lint

chore(mix): Rename aliases (#303)
  .github/workflows/ci.yml
  mix.exs
  run
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint, ./run shell:lint

chore(scripts): Use Docker Compose V2
  .vscode/tasks.json
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

docs(docker): Bump minimum Docker version to 20.10.13
  docs/setup.md
Due: ./run spellcheck:lint

chore(vscode): Add missing variable to `dc:exec` task
  .vscode/tasks.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(scripts): Use Docker Compose V2 (#324)
  .vscode/tasks.json
  docs/setup.md
  run
Due: ./run spellcheck:lint, ./run prettier:lint, ./run shell:lint

chore(vscode): Add file nesting to config files
  .vscode/settings.json
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(vscode): Add file nesting to config files (#325)
  .vscode/settings.json
  spellcheck/dictionaries/filenames.txt
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Bump npm from 8.4.1 to 8.5.4
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(deps-dev): Bump npm from 8.4.1 to 8.5.4 (#326)
  Dockerfile
Due: ./run spellcheck:lint, ./run dockerfile:lint

chore(scripts): Use `npm ci` to install deps for dev env
  docs/setup.md
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(scripts): Use `npm ci` to install deps for dev env (#327)
  docs/setup.md
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light

chore(mix): Apply `snake_case` for `*.exs`
  .check_ci.exs
  .check_dev.exs
  .check_format.exs
  .vscode/settings.json
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint

chore(mix): Apply `snake_case` for `*.exs` (#328)
  .check_ci.exs
  .check_dev.exs
  .check_format.exs
  .vscode/settings.json
  mix.exs
Due: ./run spellcheck:lint, ./run elixir:credo, ./run elixir:format:lint, ./run elixir:lint:light, ./run prettier:lint

chore(deps-dev): Remove override of `glob-parent` for `htmlhint`
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps-dev): Remove override of `glob-parent` for `htmlhint` (#355)
  package.json
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Pin versions of `actions/checkout` and `actions/cache`
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:lint

ci: Pin versions of `actions/checkout` and `actions/cache` (#358)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/update-license-year.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps): Pin version of `codecov/codecov-action`
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint

chore(deps): Pin version of `codecov/codecov-action` (#366)
  .github/workflows/ci.yml
Due: ./run spellcheck:lint, ./run prettier:lint
